# Bot
BOT_TOKEN=your_bot_token_here
ADMIN_TELEGRAM_ID=your_telegram_id_here
NOTIFICATION_CHANNEL_ID=-1001234567890

# Database
POSTGRES_USER=booking_user
POSTGRES_PASSWORD=booking_password
POSTGRES_DB=booking_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Channel check
REQUIRED_CHANNEL_ID=@your_channel_username
